:root {
  --clr-neon: hsl(317, 100%, 54%);
  --clr-light: hsl(316, 100%, 90%);
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

ul {
  padding: 0;
}

ul li {
  padding: 0;
}

a {
  padding: 0;
}

body {
  /* min-height: 100; */
  height: 100%;
  background-color: #330033 !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2rem !important;
  font-family: "Fira Code", monospace;
  scroll-behavior: smooth;
}

.navbarFirst {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  animation-name: scroll;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.navbar-second {
  position: absolute;
  top: 2rem;
  left: -100%;
  /* margin-inline-end: 10rem; */
}

.navbarFirst ul {
  display: flex;
  /* width: 100vw; */
  /* padding-inline-end: 5rem; */
  list-style: none !important;
  justify-content: flex-end !important;
  animation-name: scroll-second;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.nav-item {
  margin-inline-start: 6rem;
}

.neon-button {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  padding: 0.35em 1.25em;
  text-decoration: none;
  color: var(--clr-neon);
  border: 0.125em solid var(--clr-neon);
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.75), 10px 0 2em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: var(--clr-neon);
  top: 120%;
  left: 0;
  height: 80px;
  width: 100%;
  /* opacity: 0.3; */
  transform: perspective(2.4em) rotateX(40deg);
  filter: blur(1em);
  opacity: 0.6;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 2em 1em var(--clr-neon);
  opacity: 0;
}

.neon-button:hover,
.neon-button:focus {
  background-color: var(--clr-neon);
  color: #330033;
  text-shadow: none;
}

.neon-button:focus::before,
.neon-button:focus::after {
  pointer-events: none;
}

.neon-button:hover::before {
  opacity: 0.7;
}

.neon-button:hover::after {
  opacity: 0.7;
}

/* NAVBAR FINISHED MAIN CONTAINER STARTING */

.main-container {
  position: relative;
  padding: 5rem;
  color: #fff;
  min-height: 100%;
}

#main-title {
  font-size: 4rem !important;
  color: var(--clr-light);
}

#main-title span {
  font-size: 1.2rem;
}

#main-text {
  color: var(--clr-light);
  font-size: 1.3rem;
  max-width: 80%;
}

#home .row {
  display: flex !important;
  justify-content: space-between !important;
}

.image-showcase {
  position: relative;
}

.image-showcase h3 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50vh;
  z-index: -1;
  opacity: 1;
  transition: opacity 500ms ease !important ;
  color: var(--clr-neon);
  font-size: 1.2rem;
}

.image-showcase:hover h3 {
  opacity: 0;
}

.image-showcase img {
  width: 100%;
  /* height: 100%; */
  /* height: 50vh; */
  mix-blend-mode: screen;
  transition: all 500ms ease;
  justify-self: flex-end;
}

.image-showcase img:hover {
  mix-blend-mode: normal;
}

.flex-center {
  display: flex !important;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

#about {
  margin-top: 5rem;
  width: 100%;
}

#about p {
  color: var(--clr-light);
}

.wide-text {
  position: relative;
  max-width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

#first-icon {
  background-color: var(--clr-light);
  position: absolute;
  left: -30%;
  top: 60%;
  border-radius: 43% 57% 70% 30% / 38% 49% 51% 62%;
}
#second-icon {
  background-color: var(--clr-light);
  position: absolute;
  right: -30%;
  bottom: 15%;
  /* padding: 1rem; */
  width: 150px;
  border-radius: 97% 3% 90% 10% / 3% 95% 5% 97%;
}

.cards-wrap {
  /* margin-top: 5rem !important; */
  z-index: 500 !important;
}

.card-item {
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
}

.card-content {
  color: var(--clr-light);
  position: absolute;
  height: 60%;
  bottom: -50% !important;
  left: 0 !important;
  transition: transform 500ms ease;
  background: linear-gradient(transparent, black);
  z-index: 13;
}

.card-content h3 {
  margin-bottom: 5rem;
}

.card-item img {
  width: 100%;
}

.card-item:hover .card-content {
  transform: translateY(-50%);
}

/*SHOP*/

#shop {
  position: relative;
  background-color: #fff;
  color: #330033;
  padding-top: 6rem;
  padding-inline: 10%;
  margin-inline: -10%;
  z-index: 2;
  padding-bottom: 3rem;
}

.left-shop h2 {
  font-size: 3.9rem;
  margin-block: 2rem;
}

.left-shop p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.left-shop a {
  text-decoration: none;
  background-color: #330033;
  color: var(--clr-light);
  font-size: 1.6rem;
  padding: 0.75em 1em;
  border-radius: 100vw 100vw;
  z-index: 30;
  position: relative;
  transition: padding 500ms ease;
}

.left-shop a:hover,
.left-shop a:focus {
  color: rgb(206, 9, 206);
  padding: 2em;
}

.shop-wrap {
  /* isolation: isolate; */
  position: relative;
  background: linear-gradient(
    to right,
    #fff 10%,
    #ffccf1,
    #ffc7e0,
    #ffc8c2,
    #ffd19e,
    #ffe37e,
    #ffe37e
  );
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  height: 65vh;
}

.sale {
  background-color: var(--clr-neon);
  width: 200px;
  color: #fff;
  padding: 1rem;
  border-radius: 50px 50px 10px 50px;
  margin-left: 6rem;
  margin-top: 3rem;
  z-index: 15;
}

.reach {
  background-color: #330033;
  color: #fff;
  width: 250px;
  padding: 1rem;
  border-radius: 10px;
  margin: 3rem;
  margin-left: 15%;
  z-index: 15;
}

.reach h5 {
  color: #dbd9d9;
}

.reach p {
  font-size: 1.1rem;
}

.reach p span {
  color: rgb(18, 184, 18);
}

.text-col {
  position: absolute;
  right: 3rem;
  top: 0%;
}

#shop-icon {
  width: 200px;
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 10;
}

#woman-icon {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 10rem;
  /* max-width: 700px; */
  width: 60%;
  z-index: 3;
}

.text-col p {
  font-size: 1.2rem;
  margin-block: 6rem;
}

.text-col p span {
  font-size: 1.6rem;
  font-weight: 700;
}

/*CONTAACT*/

#contact {
  background-color: #fff;
  margin-inline: -10%;
  padding-inline: 10%;
  padding-block: 2rem;
  border: 1px solid #330033;
  margin-top: -1px;
  padding-bottom: 5rem;
}

#contact p {
  font-size: 1.2rem;
  width: 60%;
}

#left-contact {
  background-color: #330033;
  padding-block: 4rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 2rem;
}

#left-contact h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#left-contact p {
  margin-bottom: 4rem;
}

.info-item {
  display: flex;
}

.info-item p {
  margin-left: 2rem;
}

.info-item svg {
  fill: var(--clr-neon);
  margin-top: 6px;
}

.socials {
  margin-top: 6rem;
}

.socials svg {
  fill: #fff;
  margin-inline-end: 2rem;
  transition: all 500ms ease;
}

.socials svg:hover {
  fill: var(--clr-neon);
  transform: scale(1.3);
}

.circles .bigger {
  width: 300px;
  height: 300px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  background-color: var(--clr-light);
  position: absolute;
  bottom: 0;
  right: 0;
}

.circles .smaller {
  width: 150px;
  height: 150px;
  border-radius: 100vw;
  background-color: var(--clr-neon);
  position: absolute;
  bottom: 140px;
  right: 140px;
  opacity: 0.9;
}

#form-contact {
  color: #000;
  margin-top: 3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  font-size: 1.3rem;
  font-weight: 200;
  width: 80%;
  margin: auto;
}

.inputs input {
  width: 80%;
  margin: auto;
  border: none;
  border-bottom: 1px solid #330033;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding-block: 0.5em;
}

.inputs input:focus {
  outline: none;
}

.contact-question {
  margin-left: 3rem;
  font-weight: 600;
  margin-top: 1rem;
}

.buttons-contact {
  padding-left: 3rem;
  color: var(--clr-neon);
}

#message-label {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 200;
}

#message {
  border: none;
  border-bottom: 1px solid #330033;
  width: 91%;
  resize: none;
  margin-left: 3rem;
  /* margin-top: 3rem; */
  padding-block: 2em;
}

#message:focus {
  outline: none;
}

#contact-submit {
  display: block;
  width: fit-content;
  text-align: end !important;
  margin-top: 3rem;
  margin-left: 3rem;
  text-decoration: none;
  background-color: #330033;
  color: var(--clr-light);
  font-size: 1.6rem;
  padding: 0.75em 1em;
  border-radius: 100vw 100vw;
  z-index: 30;

  transition: all 500ms ease;
}

#contact-submit:hover,
#contact-submit:focus {
  color: rgb(206, 9, 206);
  /* padding: 2em; */
}

/* LOCATION */

.mapouter {
  width: 100% !important;
  margin-left: -5rem;
  margin-top: -1px;
}

.location-cards {
  background-color: #fff;
  width: 80%;
  margin: auto !important;
  margin-top: 3rem !important;
  color: #000;
  padding: 2.75rem 1rem;
  border: 0.125em solid var(--clr-neon);
  border-radius: 10px;
  margin-bottom: 3rem !important;
}

.location-item {
  text-align: center;
}

.location-item h3 {
  color: var(--clr-neon);
}

.location-item p {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}

.location-item:not(:first-child) {
  border-left: 1px solid #333;
}

/* KEYFRAMES AND MEDIA QUERIES */

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes scroll-second {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

@media (max-width: 1850px) {
  .neon-button {
    font-size: 2rem;
  }
  .nav-item {
    margin-inline-start: 3rem;
  }
}
@media (max-width: 1200px) {
  .neon-button {
    font-size: 1.6rem;
  }
  .nav-item {
    margin-inline-start: 2rem;
  }
}
@media (max-width: 935px) {
  .neon-button {
    font-size: 1.3rem;
  }
  .nav-item {
    margin-inline-start: 0.5rem;
  }
}

/* ispod 680px ide mobile navbar */
